# --- Node / Express Backend Ignore File ---

# Node modules
node_modules/

# Environmental variables
.env
.env.local
.env.development
.env.production

# Logs
*.log

# Cache
.vscode/
.eslintcache
.cache/

# Builds
dist/
build/